/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/06/2018, 12:51:25 AM
    Author     : juans
*/

body {
  
  font-family: sans-serif;
  display: flex;
  flex-direction: column
}
body > div {
  display: flex;
  flex-wrap: wrap;
  margin: auto
}
body > fieldset{
    text-align: left;
}
main {
  flex-grow: 1;
  margin: 0 1em
}
fieldset label {display: block}
p label, legend {font-weight: bold}
p label span, p em, p output {display: block}
p label input[type="checkbox"], p label input[type="range"] {
  display: inline
}
p em {font-size: small}
hr + p {text-align: center}
[type="button"] {
  border: thin solid gray;
  background-color: white
}
formas-footer {
  display: block;
  padding: 1em;
  text-align: center;
}
dialogo-especial {
  /* Cubre toda la ventana. */
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  /* Color de fondo. Si no se pone, es transparente. */
  background-color: rgba(125,125,125,0.5);
  display: none;
}
dialogo-especial > form { /* Parte interna del diálogo. */
  position: absolute;
  z-index: 13;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centra en pantalla. */
  padding: 2em 1em 0 1em; /* Relleno vertical y horizontal. */
  background-color: white;
  /* Sombra negra y 8 pixeles de difuminado. */
  box-shadow: 0 0 8px black
}